@using MultiShop.DtoLayer.IdentityDtos.UserDtos
@model List<ResultUserDto>
@{
	ViewData["Title"] = "UserList";
	Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
	int count = 0;
}
<div class="content-wrapper">
<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>@ViewBag.title2</h4>
				<div id="example_filter" class="dataTables_filter pull-right">
					<input class="form-control" id="placeholderInput" placeholder="Search" type="text">
				</div>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th class="sortable">#</th>
							<th class="sortable">Ad soyad</th>
							<th>Kullanıcı adı</th>
							<th>Email</th>
							<th>Adres detayı</th>

						</tr>
					</thead>
					@foreach (var item in Model)
					{
						<tr>


							<td class="text-truncate">@count</td>
							<td class="text-truncate">@item.Name @item.Surname</td>
							<td class="text-truncate">@item.Username</td>
							<td class="text-truncate">@item.Email</td>
							<td><a href="/Admin/User/UserAddressInfo/@item.Id" class="btn btn-warning">Adres detayı</a></td>

						</tr>
						count++;
					}


				</table>


			</div>
		</div>
	</div>
</section>
</div>