@using MultiShop.DtoLayer.CatalogDtos.OfferDiscountDtos
@model List<ResultOfferDiscountDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
	int count = 1;
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	@await Component.InvokeAsync("_AdminLayoutMainSectionComponentPartial")

	<!-- Main content -->
	<section class="content container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="chart-box">
					<h4>@ViewBag.title2</h4>
					<div id="example_filter" class="dataTables_filter pull-right">
						<input class="form-control" id="placeholderInput" placeholder="Search" type="text">
					</div>
					<table class="table table-responsive">
						<thead>
							<tr>
								<th class="sortable">#</th>
								<th class="sortable">Başlık</th>
								<th class="sortable">Alt başlık</th>
								<th>Buton adı</th>
								<th>Resim</th>
								<th>Sil</th>
								<th>Güncelle</th>

							</tr>
						</thead>
						@foreach (var item in Model)
						{
							<tr>


								<td class="text-truncate">@count</td>
								<td class="text-truncate">@item.Title</td>
								<td class="text-truncate">@item.SubTitle</td>
								<td class="text-truncate">@item.ButtonTitle</td>
								<td class="text-truncate"><img  height="100" width="100" src="@item.ImageUrl"/>"</td>
								<td class="text-truncate"><a href="/Admin/OfferDiscount/RemoveOfferDiscount/@item.OfferDiscountId" class="btn btn-danger">Sil</a></td>
								<td class="text-truncate"><a href="/Admin/OfferDiscount/UpdateOfferDiscount/@item.OfferDiscountId" class="btn btn-success">Güncelle</a></td>
							</tr>
							count++;
						}


					</table>
					<a href="/Admin/OfferDiscount/CreateOfferDiscount/" class="btn btn-primary">Yeni indirim teklifi girişi</a>
					

				</div>
			</div>
		</div>
	</section>
	<!-- content -->
</div>
